/**
 * 全局生效的css 
 */
@import './components/animation/animation.less';

:global{
	*{
		box-sizing: border-box;
	}
	body{
		margin: 0;
		overflow-x: hidden;
	}
	#app{
		overflow-x: hidden;
	}

}

// home
:global{
	.addOne{
		position: fixed;
		z-index: 10;
		font-size: 24px;
		color: #F44336;
		animation: addOne 1s;
	}
}
@keyframes addOne{
	from {transform: translate3d(0,0,0) scale(0.6,0.6); opacity: 0.9;}
    to {transform: translate3d(0,-200%,0) scale(1,1); opacity: 0;}
}